TELEGRAM_TOKEN=tokenul_botului_tau_de_la_BotFather
TELEGRAM_CHANNEL=@NumeleCanaleluiTau
GEMINI_API_KEY=AIzaSyCKlafCzE5H-GNgKCfZJPyDa2EKURu71e8
UNSPLASH_ACCESS_KEY=cheia_ta_unsplash
TIMEZONE=Europe/Bucharest
